<h1>Login Page</h1>
<li><%= link_to "Home", root_url %></li>
<h3>You can login if you already signed up</h3>
<%= form_for(:session, url: login_path) do |f| %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.submit 'Submit' %>

<% end %>
