
<h3>Event-<%= event.id %>, <%= link_to event.title, event %></h3>
  <ul>
    <li>Location: <%= event.location %></li>
    <li>Date:     <%= event.date %></li>
    <li>Host:     <%= event.host.name %></li>
  </ul>
